# EmailJS configuration keys (sign up at https://www.emailjs.com/)
VITE_EMAILJS_SERVICE_ID=your_service_id_here
VITE_EMAILJS_TEMPLATE_ID=your_otp_template_id_here
VITE_EMAILJS_PUBLIC_KEY=your_public_key_here
VITE_EMAILJS_WELCOME_TEMPLATE_ID=your_welcome_template_id_here
